[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-otp = "*"
pillow = "*"
dj-database-url = "*"
django-environ = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "*"
